{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Citas</title>
    <link rel="stylesheet" href="{% static 'gestion_cita/style.css' %}">

</head>

<body>

    <!-- HEADER -->

    <div class="header">

        <h1>Gestión de Citas</h1>

        <div class="usuario">
            <a href="/MenuPrincipal/">Inicio</a>
        </div>

        <div class="usuario">
            Bienvenido {{ nombre }}
        </div>

    </div>

    <!-- CONTENEDOR -->

    <div class="contenedor">

        <!-- CARD AGREGAR -->

        <div class="card">

            <div class="icono">📅</div>

            <h2>Agendar Cita</h2>

            <p>
                Agenda una nueva cita médica con el especialista que necesites.
            </p>

            <a href="/crear_cita/" class="btn">
                Agendar
            </a>

        </div>

        <!-- CARD MODIFICAR -->

        <div class="card">

            <div class="icono">👁️</div>

            <h2>Mis Cita</h2>

            <p>
                Cambia la fecha, hora o Cancelar de tus citas médicas.
            </p>

          <a href="/mis_citas/"
            class="btn blue">
            Modificar
        </a>

        </div>


</body>

</html>