{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Panel Clínica</title>

   <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

<!-- HEADER -->
<div class="header">
    <h2>Clinica Proyecto</h2>
    <div>Bienvenido {{usuario.nombre}}</div>
</div>

<!-- SIDEBAR -->
<div class="sidebar">
    <a href="/dashboard/">🏠 Inicio</a>
    <a href="/historia/">🏥 Historia Clínica</a>
    <a href="/gestion/">📅 Agendamiento</a>
    <a href="/facturacion/">💰 Facturación</a>
    <a href="/farmacia/">💊 Farmacia</a>
    <a href="/Login/">🚪 Cerrar sesión</a>
</div>

<!-- CONTENIDO -->
<div class="contenido">

    <h1>Panel Principal</h1>

    <div class="cards">

        <div class="card">
            <h3>Historia Clínica</h3>
            <p>Ver registros médicos</p>
            <a href="/historia/">Entrar</a>
        </div>

        <div class="card">
            <h3>Citas</h3>
            <p>Agendar y gestionar citas</p>
            <a href="/gestion/">Entrar</a>
        </div>

        <div class="card">
            <h3>Facturación</h3>
            <p>Pagos y facturas</p>
            <a href="/facturacion/">Entrar</a>
        </div>

        <div class="card">
            <h3>Farmacia</h3>
            <p>Medicamentos</p>
            <a href="/farmacia/">Entrar</a>
        </div>

    </div>

</div>

</body>
</html>